<h1>Edit post</h1>
<p>Use <a target="_blank" href="https://fr.wikipedia.org/wiki/Markdown">Mardown syntax</a> to write this post !</p>
<form method="post" action="">
    <input type="hidden" name="id" value="[id]" />
    <p>
        <label>Title</label>
        <input type="text" name="title" required="required" value="[title]" />
    </p>
    <p>
        <label>Date</label>
        <input type="text" name="date" required="required" value="[date]" />
    </p>
    <p>
        <label>Content</label>
        <textarea name="content" required="required">[content]</textarea>
    </p>
    <p><input type="checkbox" name="del" /> Delete this post</p>
    <p><input type="submit" value="Save" name="savepost" /></p>
</form>