<h1 class="title">[title]</h1>
<p class="header"><a class="back" href="./">Back</a> | Published [date] | <a href="./?post=[id]#comments">[nbComments] comment(s)</a> <a class="admin edit" href="./?edit=[id]&token=[token]">Edit post</a></p>
[content]
<h2 id="comments">Comments</h2>
[comments]
<form method="post" action="">
    <p>
        <label>Pseudo</label>
        <input type="text" name="author" required="required" />
    </p>
    <p>
        <label>Comment</label>
        <textarea name="content" required="required"></textarea>
    </p>
    <p>
        <label>What is the second character in your pseudo ? (captcha)</label>
        <input type="text" name="captcha" required="required" />
    </p>
    <p><input type="submit" value="Add comment" name="comment" /></p>
</form>