<h1 class="title"><a href="./?post=[id]">[title]</a></h1>
<p class="header">Published [date] | <a href="./?post=[id]#comments">[nbComments] comment(s)</a> <a class="admin edit" href="./?edit=[id]&token=[token]">Edit post</a></p>
[content]