/* NORMALIZE.CSS */

html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary{display:block}audio,canvas,progress,video{display:inline-block;vertical-align:baseline}audio:not([controls]){display:none;height:0}[hidden],template{display:none}a{background-color:transparent}a:active,a:hover{outline:0}abbr[title]{border-bottom:1px dotted}b,strong{font-weight:bold}dfn{font-style:italic}h1{font-size:2em;margin:.67em 0}mark{background:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-0.5em}sub{bottom:-0.25em}img{border:0}svg:not(:root){overflow:hidden}figure{margin:1em 40px}hr{box-sizing:content-box;height:0}pre{overflow:auto}code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}button,input,optgroup,select,textarea{color:inherit;font:inherit;margin:0}button{overflow:visible}button,select{text-transform:none}button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer}button[disabled],html input[disabled]{cursor:default}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}input{line-height:normal}input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0}input[type="number"]::-webkit-inner-spin-button,input[type="number"]::-webkit-outer-spin-button{height:auto}input[type="search"]{-webkit-appearance:textfield;box-sizing:content-box}input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}legend{border:0;padding:0}textarea{overflow:auto}optgroup{font-weight:bold}table{border-collapse:collapse;border-spacing:0}td,th{padding:0}

/* FONT */

@import url(http://fonts.googleapis.com/css?family=Roboto);

/* HTML */

*{
    box-sizing: border-box;
    outline: none;
}

body{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #333;
    background: #fff;
    margin: 0;
    padding: 0;
    position: relative;
}

a, a:hover, a:active, a:visited{
    color: #999;
    text-decoration: none;
}

a:hover{
    color: #333;
}

h1{
    font-size: 42px;
    font-weight: normal;
    text-transform: uppercase;
}

h2{
    font-size: 22px;
    font-weight: normal;
    text-transform: uppercase;
}

h3{
    font-size: 18px;
    font-weight: normal;
    text-transform: uppercase;
}

ul, ol{
    padding-left: 0;
    margin-left: 0;
    list-style-position: inside;
}

hr{
    background: #ccc;
    height: 1px;
    border: 0;
    margin: 30px 0;
}

img{
    max-width: 100%;
}

pre{
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -o-pre-wrap;
}

code{
    font-size: 12px;
    font-family: Verdana, "Lucida Grande", Lucida, Tahoma, "Trebuchet MS", Arial, Geneva, Helvetica, sans-serif;
}

table{
    width: 100%;
}

tr{
    border-bottom: 1px solid #e9e9e9;
}

tr:last-child{
    border-bottom: 0;
}

tr:nth-child(even){
    background: #fefae2;
}

th, td{
    text-align: left;
    padding: 5px;
}

label{
    display: block;
    margin-bottom: 5px;
}

label:after{
    content: " :";
}

input[type=text], input[type=email], input[type=password], textarea{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    background: #fff;
    border: 1px solid #e9e9e9;
    padding: 5px;
    width: 100%;
    border-radius: 5px;
    box-shadow: inset 0px 1px 5px rgba(51, 51, 51, 0.25);
}

textarea{
    min-height: 250px;
}

input[type=submit], input[type=button]{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    text-decoration: none;
    color: #fff;
    margin: 0;
    padding: 5px;
    background: #333;
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;
    border: 0;
    border-radius: 5px;
}

/* STRUCTURE */

#container{
    position: relative;
}

#header{
    width: 100%;
    background: #333;
    padding: 30px;
    position: fixed;
    box-shadow: 0px 10px 10px 0px rgba(51, 51, 51, 0.25);
}

#content{
    padding: 120px 30px 30px 30px;
    max-width: 900px;
    margin: 0 auto;
}

#login{
    display: none;
    max-width: 300px;
    margin: 0 auto;
}

/* HEADER */

#header h1{
    margin: 0;
    font-size: 22px;
}

#header a{
    color: #fff;
}

/* FOOTER */

#footer{
    font-size: 12px;
    padding: 30px;
    max-width: 900px;
    margin: 30px auto;
    color: #999;
}

/* POSTS */

#more{
    display: none;
    float: right;
    margin: 30px 0;
    font-size: 22px;
}

#more:after{
    content: " →";
}

.title{
    clear: both;
}

.title a{
    color: #333;
}

.header{
    background: #e9e9e9;
    padding: 5px;
    border-radius: 5px;
    color: #999;
    font-size: 12px;
}

.back:before{
    content: "← ";
}

.comment{
    overflow: hidden;
    border: 1px solid #e9e9e9;
    padding: 15px;
    margin-bottom: 5px;
}

.comment .infos{
    margin-top: 0;
    font-size: 12px;
}

.comment .infos:after{
    content: " :";
}

/* MSG */

.msg{
    padding: 15px;
    border-radius: 5px;
}

.msg.success{
    background: #ccffcc;
}

.msg.error{
    background: #ffcccc;
}

.msg .back{
    color: #333;
}

/* ADMIN */

a.admin{
    display: none;
    color: red;
    text-transform: uppercase;
}

a.admin.add{
    background: url(img/add.png) no-repeat;
    background-size: 16px;
    text-indent: 21px;
    float: left;
    margin-bottom: 30px;
}

a.admin.logout{
    background: url(img/logout.png) no-repeat;
    background-size: 16px;
    text-indent: 21px;
    float: right;
    margin-bottom: 30px;
}

a.admin.edit{
    background: url(img/edit.png) no-repeat;
    background-size: 12px;
    text-indent: 17px;
    float: right;
}

a.admin.del{
    background: url(img/del.png) no-repeat;
    background-size: 12px;
    text-indent: 17px;
    float: right;
}